// Colors 
$darkBlue: hsl(233, 26%, 24%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 14%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
$red: hsl(355, 85%, 52%);
$blue: hsl(225, 100%, 25%);
// Font sizes
$font-sm: 0.875rem; //14px
$font-med: 1.125rem; //18px
$font-xlg: 3.25rem;
$font-lg: 1.25rem;